/* Global Styling */
body,
html {
  background-color: #a2c1d5;
  width: 100vw;
  min-height: 100vh;
  /* height: 100vh; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-----userview-assignment---*/

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  text-align: center;
}

/* Title Styling */
.appTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.appTitle h1 {
  text-align: center;
}

.appTitle button {
  margin-top: 0;
}

/* Table Styling */
.wordTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* Ensures table borders are not doubled */
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

input {
  padding: 5px;
  width: inherit;
}

/* colors for wrong/correct answers*/
.correct {
  background-color: #00ff3c;
  color: #045417;
}

.wrong {
  background-color: #ff0015;
  color: #52030c;
}

.submit-btn {
  margin: 30px;
}

.scores p {
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----HomeView-----*/

.main-form {
  width: 100vw;
  height: 100%;
  color: #191551;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-form h1 {
  margin: 0;
  top: 30px;
  text-align: center;
  position: absolute;
  font-family: cursive;

}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 60vw;
  height: 10vh;
  border-radius: 5px;

}

.home-buttons button {
  background-color: rgb(215, 125, 28);
  text-align: center;
  width: 60vw;
  height: 10vh;
  font-size: x-large;
}


#admin-btn {
  /* No admin on phone!*/
  display: none;
}

.home-buttons button:hover {
  background-color: #00000053;
}

/*-----UserView-----*/

.user-nav {
  background-color: #3d60784f;
  padding: 20px;
  width: 90vw;
  height: auto;

  border-color: #28273a;
  border-width: 2px;
  border-style: double;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.user-btn {
  color: white;
}

#user-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  left: 30%;
  right: 30%;
  top: 30px;
  color: #18445b;
  text-align: center;
  position: absolute;
  font-family: cursive;
}

#log-out {
  width: 10vw;
}

.user-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80vw;
  height: 10vh;
  border-radius: 10px;
}

.user-choices button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 10vh;
  text-align: center;
  background-color: #191551;
  /* Transparent to inherit container background */
  color: white;
}

.user-choices button:hover {
  background-color: #698a9f7c;
}


/*---adminview----*/
.admin-nav {
  background-color: #3d60784f;
  padding: 20px;
  height: 90vh;

  border-color: #28273a;
  border-width: 2px;
  border-style: double;
  border-radius: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  /* Change to fixed to avoid scrolling issues */
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  /* Adjust vertical centering */
}

.admin-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-grow: 1;
  /* Allow the button container to grow and push the buttons to the bottom */
}

.nav-btn {
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

/* Link is automatically blue, hover tp avoid it*/
.nav-btn:hover {
  color: #000000;
  outline: none;
  /* Remove default focus outline (optional, but can be useful for custom designs) */
  text-shadow: 2px 2px 5px #ffffff;
}

.db-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
  /*bg color for debugging*/
  /* background-color: #008c21; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.db-wrapper h2 {
  width: 80%;
  margin-top: 0;
  margin-left: 15%;
  /* margin-right: 50%; */
}

.db-inner {
  /*bg color for debugging*/
  /* background-color: #7e000f; */

  display: flex;
  flex-direction: column;
  align-items: center;


  height: 65vh;
  width: 100%;
  gap: 30px;

  border-radius: 8px;

  /*scrolling*/
  overflow-y: auto;
  overflow-x: hidden;
}

.add-word-pair-btn {
  width: 50%;
  height: 5%;

  text-align: center;

  padding: 5px;
  margin-bottom: 40px;
  margin-left: 10%;
}

.word-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  /* width: 100%; */
  height: 10vh;
  margin: 10px;

  border: 5px;
  border-radius: 5px;
  background-color: #28273a57;
  color: #ffffff;
}

.word-id {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  /* create bigger div, flex-end to place ID well*/
  width: 50px;
  height: 50px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  gap: 10px;
  /* background-color: #000000; */
}

.action-buttons button {
  width: 25%;
  height: 90%;
  margin: 10px;
  font-size: small;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Prevent text from overflowing */
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; */
}

/*edit view*/

.modal-overlay {
  width: 60vw;
  height: 80vh;
  background-color: #000000e2;
  color: #ccc;
  position: fixed;
  top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------------*/

@media only screen and (min-width: 600px) {

  .home-buttons {
    align-items: flex-end;
    width: 50vw;
  }

  .home-buttons button {
    text-align: center;
    width: 50vw;
  }

  #admin-btn {
    display: grid;
    text-align: center;
  }
}

@media only screen and (min-width: 640px) {

  .home-buttons {
    align-items: flex-end;
    width: 50vw;
  }

  .home-buttons button {
    text-align: center;
    width: 50vw;
  }

  #admin-btn {
    display: grid;
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {

  .db-wrapper h2 {
    margin-left: 10%;
  }

  .db-inner {
    width: 80vw;
    left: 10px;
    font-size: larger;
  }

  .word-pair {
    width: 60vw;
  }

  .action-buttons {
    height: 100%;
    align-items: center;
  }

  .action-buttons button {
    min-width: 80px;
    width: 50%;
    height: 80%;
    margin: 10px;

    font-size: large;
  }
}