/* Global Styling */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* Title Styling */
.appTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table Styling */
.wordTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* Ensures table borders are not doubled */
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

input {
  padding: 5px;
  width: inherit;
}

/* colors for wrong/correct answers*/
.correct {
  background-color: #d4edda;

  color: #008c21;
}

.wrong {
  background-color: #f8d7da;
  color: #7e000f;
}